.containers
{
  height: 100%;
  background-color: rgb(184, 143, 93);
  background-image: url('/assets/images/pe.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
